.hero-container{
    display:flex;
    background-color: aquamarine;

}
.hero-container{
    width:100%;
    height:100px;
}
.hero-container button{
   background-color: blueviolet;
   padding:20px 30px;
   font-size: 2em;
   border-radius: 10px;
    
}