.card{
    width:300px;
    border:2px solid sandybrown;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px skyblue;
}
.card-container{
    display:flex;
}
.card:hover{
    background-color: aquamarine;
}
.card h3{
    font-size:1.25em;
    font-weight: 900;
}
.card img{
    width:100%;
    border-radius:10px;
}